.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.select-lable {
  margin-right: 10px;
}

.route-select {
  width: 150px;
}
